<template>
    <div>
       <div class="form-group col-md-12">

           <div class="">
               <label>
                   Категория

               </label>
               <div class="form-group">
                   <select name="shop_category_id" class="form-control" v-on:change="loadAttributes(selected_category)" v-model="selected_category" >
                       <option :value="category.id"  v-for="(category,index) in categories" >
                           {{category.name}}
                       </option>
                   </select>
               </div>
           </div>
           Дополнительные аттрибуты
           <div class="form"  v-if="attributes"  v-for="(attribute,i) in attributes">
               <label for="">{{attribute.name}}</label>
               <select name="additional_attributes[]" class="form-control" id="" v-if="attribute.type.value==='select'">
                   <option :value="attribute.name+':'+value"
                           v-for="(value,index) in attribute.values"
                           :selected="product != null && product.additional_attributes != null ? product.additional_attributes[i] === attribute.name+':'+value : false">

                       {{value}}
                   </option>
               </select>


                <input type="text"
                       class="form-control"
                       :name="attribute.name"
                       v-if="attribute.type.value === 'text'" v-model="attribute_new[i]">
               <input type="hidden" name="additional_attributes[]" :value="attribute.name+':'+attribute_new[i]" v-if="attribute.type.value === 'text'">
           </div>

           <input type="hidden" name="additional_attributes[]" v-if="!attributes">
            <div class="">

            </div>
       </div>
    </div>

</template>
<script>

import axios from 'axios'

export default {
        data(){
            return{
                selected_category:null,
                attributes: null,
                categories: null,
                product: null,
                attribute_new: []
            }
        },
        created(){
            if (this.getProductId()){

                this.loadProduct(this.getProductId())


            }
            if (this.product != null){

            }
            this.loadCategories()
        },
        methods:{
            getProductId(){
              let productForm = document.getElementById('form_with_id')
              let productURL = productForm.getAttribute('action');
              return productURL.split('/')[5]
            },
            loadCategories(){
                axios.get('/api/admin/categories').then(response=>{
                    if (response.status===200){
                        this.categories = response.data.categories
                    }
                })
            },
            loadAttributes(val){
                axios.get(`/api/admin/attributes/form/${val}`).then(response=>{
                    if (response.status === 200){
                        this.attributes = response.data.attributes
                        if (this.attributes != []){
                            for (let i = 0; i < this.attributes.length; i++){
                                if (this.product != null){


                                    this.attribute_new[i] = this.product.additional_attributes[i].split(':')[1]
                                }
                            }
                        }


                    }
                })
            },
            loadProduct(productId){
                axios.get(`/api/admin/product/${productId}`).then(response=>{

                    if (response.status === 200){

                        this.product = response.data.product
                        this.selected_category = this.product.category.id
                        this.loadAttributes(this.selected_category)

                    }
                })
            }

        },


    }

</script>
