.main
    &__blocks
        padding-left: 16px
        padding-right: 16px
        &__header
            padding: 24px 15px

            span
                font-family: Open Sans, serif
                font-style: normal
                font-weight: bold
                font-size: 24px
                line-height: 33px
                display: flex
                color: #31AC80
                align-items: center
        &__divide
            display: flex
            justify-content: space-between
            padding-left: 15px
            padding-right: 15px
        &__buttons
            text-align: center
            padding: 30px
