$main-color: #31AC80
$black: #383838
$red: #F63C41
$white: #fff

.product
    padding-top: 32px
    &__header
        &-link
            cursor: pointer
            font-weight: 600
            font-size: 12px
            line-height: 16px
            color: #345BBE
            &:hover
                color: #345BBE
        &-btns
            display: flex
            margin-top: 20px
        &-btn
            text-align: center
            width: 96px
            padding: 7px 13px
            text-transform: uppercase
            font-weight: 600
            font-size: 12px
            line-height: 16px
        &-new
            border: 1px solid #345BBE
            color: #345bbe
        &-discount
            border: 1px solid #F63C41
            color: #F63C41
            margin-left: 16px
        &-title
            margin-top: 20px
            font-weight: 700
            font-size: 20px
            line-height: 27px
            color: $black
        &-wrap
            margin-top: 13px
            display: flex
            justify-content: space-between
        &-productStocks
            font-weight: 600
            font-size: 15px
            line-height: 20px
            color: #10A600
        &-productCode
            display: flex
            justify-content: flex-end
            align-items: flex-end
            font-weight: 400
            font-size: 16px
            line-height: 22px
            span
                margin-left: 5px
        &-review
            display: flex
        &-reviewStar
            img
                width: 20px
        &-reviewTxt
            margin-left: 20px
            margin-top: 3px
            font-weight: 400
            font-size: 16px
            line-height: 22px
            color: $main-color
    &__about
        margin-top: 20px
        display: flex
        justify-content: space-between
        &-images
            width: 60%
            padding: 40px 30px 30px 50px
            background: #FFFFFF
            border: 1px solid #ECF0FA
            box-sizing: border-box
            &__inner
                display: flex
            &__choose
                width: 20%
                display: flex
                flex-direction: column
                align-items: flex-start
                img
                    & + img
                        margin-top: 30px
            &__chooseClick
                display: flex
                width: 80%
                justify-content: center

        &-descr
            width: 37%
            background: #FFFFFF
            border: 1px solid #ECF0FA
            box-sizing: border-box
            padding: 24px 32px 100px 32px
            &__title
                font-weight: 600
                color: $black
                font-size: 14px
                line-height: 19px
                margin-bottom: 15px
            &__wrap
                display: flex
                justify-content: space-between
                font-weight: 400
                font-size: 14px
                line-height: 19px
                p
                    color: #818181
                div
                    color: $black
                & + .product__about-descr__wrap
                    margin-top: 10px
            &__link
                display: block
                margin-top: 12px
                text-decoration: underline !important
                color: $main-color
                font-weight: 400
                font-size: 14px
                line-height: 19px
                &:hover
                    color: $main-color
            &__cost
                margin-top: 20px
                font-weight: 400
                font-size: 30px
                line-height: 40px
                color: #F63C41
                span
                    text-decoration-line: line-through
                    font-weight: 700
                    font-size: 16px
                    line-height: 22px
                    color: #AFAFAF
            &__btns
                margin-top: 25px
                display: flex
                justify-content: space-between
                flex-wrap: wrap
            &__btn1
                outline: none !important
                width: 78%
                padding: 12px 0
                border-radius: 0px !important
            &__btn2
                outline: none !important
                background: transparent
                border: 1px solid $main-color
                width: 15%
                display: flex
                justify-content: center
                align-items: center
            &__btn3
                outline: none !important
                font-weight: 600
                font-size: 18px
                line-height: 24px
                border: 1px solid $main-color
                color: $main-color
                background: transparent
                width: 100%
                padding: 12px 0
                margin-top: 25px
    &__description
        margin-top: 50px
        &-items
            display: flex
            width: 100%
            border-bottom: 1px solid $main-color
        &-item
            cursor: pointer
            padding-top: 13px
            padding-bottom: 13px
            width: 33.3%
            text-align: center
            font-weight: 600
            font-size: 18px
            line-height: 25px
            position: relative
            transition: all 0.3s
            span
                transition: all 0.3s
                top: 5px
                position: absolute
                font-weight: 600
                font-size: 16px
                line-height: 22px
                color: #949494
                padding-top: -10px
                margin-left: 3px
            &:hover
                background: $main-color
                color: $white
                span
                    color: $white
        &-content
            margin-top: 44px
        &-outline
            p
                font-weight: 400
                font-size: 14px
                line-height: 19px
                color: $black
                span
                    font-weight: 600
                & + p
                    margin-top: 35px
        &-specification
            width: 100%
            display: flex
            justify-content: space-between
            &-wrap
                width: 50%
            &-box
                display: flex
                & + .product__description-specification-box
                    margin-top: 24px
            &-title
                width: 230px
                font-weight: 700
                font-size: 14px
                line-height: 19px
                color: $black
                margin-right: 10px
            &-subtitle
                line-height: 19px
                font-weight: 400
                font-size: 14px
        &-reviews
            &-item
                margin-bottom: 24px
                & + .product__description-reviews-item
                    border-top: 1px solid #C4C4C4
                    padding-top: 32px
            &-acc
                display: flex
                align-items: center
                img
                    margin-right: 16px
            &-name
                font-weight: 600
                font-size: 14px
                line-height: 19px
                color: $black
            &-star
                margin-top: 8px
            &-date
                margin-top: 4px
                font-size: 12px
                line-height: 16px
                font-weight: 400
                color: #C4C4C4
            &-descr
            &-txt
                margin-top: 16px
                font-weight: 400
                font-size: 14px
                color: $black
                line-height: 19px
            &-btn
                width: 100%
                padding-top: 12px
                padding-bottom: 13px
                border-radius: 0 !important
                margin-top: 32px
            &-rate
                font-weight: 600
                font-size: 18px
                line-height: 25px
                color: $black
            &-analysis
                margin-top: 23px
                font-weight: 400
                font-size: 16px
                line-height: 22px
                color: $black
                .d-flex
                    & + .d-flex
                        margin-top: 25px
                span
                    width: 32%
                .w
                    width: 10%
                    display: flex
                    justify-content: flex-end
            &-leaners
                height: 8px
                width: 55%
                background: -webkit-linear-gradient(left, #F8894B 50%, #C4C4C4 50%)

@media (max-width: 767px)
    .product
        &__header
            &-wrap
                flex-direction: column !important
            &-review
                margin-top: 10px !important
                margin-bottom: 10px !important
        &__about
            flex-wrap: wrap !important
            &-images
                width: 100% !important
                padding: 20px 20px 60px 20px !important
                img
                    width: 80%
            &-descr
                margin-top: 30px !important
                width: 100% !important
                padding-left: 20px !important
                padding-right: 20px !important
                padding-bottom: 60px !important
                &__cost
                    span
                        display: block
                        margin-top: 5px

@media (min-width: 992px) and (max-width: 1199px)
    .product
        &__about
            &-images
                img
                    width: 80% !important
.basket
    &__inner
        margin-top: 32px
    &__title
        font-weight: 700
        font-size: 20px
        line-height: 27px
        color: $black
        margin-bottom: 24px
    &__items
    &__item
        padding: 20px 25px 20px 20px
        display: flex
        border: 1px solid #ECF0FA
        &-inner
            display: flex
            align-items: center
        input[type=checkbox]
            padding: 3px
        img
            margin-left: 24px
            width: 100%
        p
            margin-bottom: 0px
        &-wrap
            width: 45%
            margin-left: 24px
        &-subtitle
            color: #8F8F8F
            font-weight: 400
            font-size: 12px
            line-height: 16px
        &-clicks
            display: flex
            margin-top: 40px
        &-click
            cursor: pointer
            color: #345BBE
            font-weight: 600
            font-size: 14px
            line-height: 19px
            & + .basket__item-click
                margin-left: 24px
                padding-left: 24px
                border-left: 1px solid #C4C4C4
        &-cost
            font-weight: 600
            margin-left: 4%
            color: #345BBE
            font-size: 14px
            line-height: 16px
        &-costDiscount
            text-decoration: line-through
            font-weight: 400
            color: #AFAFAF
            font-size: 10px
            margin-top: 8px
    &__order
        &-title
            margin-top: 32px
            font-weight: 700
            font-size: 22px
            line-height: 30px
            color: #505050
        &-wrap
            display: flex
            justify-content: space-between
            margin-top: 18px
            font-weight: 400
            font-size: 16px
            line-height: 22px
            color: $black
            border-bottom: 1px solid $main-color
            padding-bottom: 18px
        &-allCost
            margin-top: 18px
            display: flex
            justify-content: space-between
            color: #345BBE
            font-weight: 600
            font-size: 16px
            line-height: 22px
    &__btn
        width: 100%
        padding-top: 12px
        padding-bottom: 13px
        border-radius: 0 !important
.ordering
    margin-top: 32px
    &__title
        margin-bottom: 32px
        font-weight: 700
        font-size: 20px
        line-height: 27px
        color: $black
    &__wrap
        padding: 24px 32px
        border: 1px solid #ECF0FA
        box-sizing: border-box
    &__wrap-title
        color: $main-color
        font-weight: 600
        font-size: 16px
        line-height: 22px
    &__wrap-box
        width: 30%
        div
            span
                color: #818181
                font-size: 14px
                line-height: 19px
                font-weight: 400
    &__form
        margin-top: 16px
        display: flex
        justify-content: space-between
        font-weight: 400
        font-size: 16px
        line-height: 21px
    &__input
        margin-top: 8px
        width: 100%
        border: 1px solid #31AC80
        box-sizing: border-box
        padding: 13px
        outline: none !important
    &__delivery
        margin-top: 32px
        border: 1px solid #ECF0FA
        padding-bottom: 24px
    &__delivery-descr
        background: $main-color
        color: $white
        font-weight: 400
        font-size: 14px
        padding: 9px 32px
    &__delivery-inner
        padding-left: 32px
        padding-right: 32px
        padding-top: 24px
        display: flex
        justify-content: space-between
    &__delivery-wrap
        width: 45%
    &__delivery-maps
        width: 50%
    &__delivery-title
        color: $main-color
        font-weight: 600
        font-size: 16px
        line-height: 22px
        margin-bottom: 16px
    &__delivery-pb
        & + .ordering__delivery-pb
            margin-top: 25px
    &__delivery-box
        display: flex
        justify-content: space-between
        font-weight: 400
        color: $black
        font-size: 16px
        div
            width: 47%
        span
            color: #818181
            font-size: 14px
            font-weight: 400
            display: inline
    &__payment
        margin-top: 24px
    &__payment-inner
        display: flex
        justify-content: space-between
    &__payment-wrap, &__payment-wrap2
        border: 1px solid #ECF0FA
        padding-top: 24px
        padding-left: 32px
        padding-bottom: 24px
        padding-right: 32px
    &__payment-wrap
        width: 29%
    &__payment-wrap2
        width: 67%
    &__payment-title
        color: $main-color
        font-weight: 600
        font-size: 16px
        line-height: 22px
    &__payment-checkbox
        color: $black
        font-size: 16px
        line-height: 22px
        font-weight: 400
        margin-top: 35px
        input
            margin-right: 14px
    &__payment-wrap3
        margin-top: 18px
    &__payment-link
        font-weight: 400
        color: $black
        font-size: 16px
        line-height: 22px
        & + .ordering__payment-link
            margin-top: 16px
        span
            font-weight: 700
    &__payment-btn
        outline: none !important
        margin-top: 24px
        border-radius: 0 !important
        width: 100%
        padding-top: 12px
        padding-bottom: 13px
        font-size: 18px !important


.header
    padding: 16px
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05)
    background: $white
    &__inner
        position: relative
        transition: all 0.3s
    &__nav
    &__nav-wrap
        display: flex
        align-items: flex-end
    &__nav-link
        font-weight: 400
        font-size: 14px
        color: $black
        line-height: 19px
        & + .header__nav-link
            margin-left: 30px
        &:hover
            color: $black
    &__nav-wrap2
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__nav-location
        color: $main-color
        font-weight: 600
        font-size: 14px
        line-height: 19px
        &:hover
            color: $main-color
    &__nav-location
        display: flex
        align-items: flex-end
        img
            margin-left: 5px
    &__menu
        margin-top: 25px
        display: flex
        align-items: center
    &__catalog
        padding: 0
        button
            outline: none
            padding-top: 12px
            padding-bottom: 12px
            padding-left: 50px
            padding-right: 25px
            border: 1px solid #31AC80
            box-sizing: border-box
            border-radius: 25px
            text-align: center
            background: transparent
            color: $main-color
            font-weight: 700
            font-size: 18px
            line-height: 25px
            position: relative
            transition: all 0.3s
            span
                display: block
                position: absolute
                left: 25px
                top: 24px
                width: 16px
                height: 2px
                background: $main-color
                transition: all 0.3s
                &::before, &::after
                    content: ''
                    display: block
                    position: absolute
                    width: 16px
                    height: 2px
                    background-color: $main-color
                    transition: all 0.3s
                &::before
                    content: ''
                    transform: translateY(-6px)
                &::after
                    content: ''
                    transform: translateY(6px)
            &:hover
                background: $main-color
                color: $white
                span
                    background: $white
                    &::before,&::after
                        background: $white
    &__logo
        padding: 0
    &__search
        padding: 0
        input
            width: 90%
            outline: none
            padding-top: 10px
            padding-bottom: 10px
            padding-right: 16px
            padding-left: 46px
            background: url('')
            background-repeat: no-repeat
            background-position: center left
            background-position-x: 16px
            border: 1px solid $main-color
            box-sizing: border-box
            border-radius: 25px
    &__btns
        display: flex
        justify-content: flex-end
        padding: 0
        a
            & + a
                margin-left: 40px

.header__catalog1
    &-menu
        z-index: 50
        display: none
        transition: all 0.3s
        top: 110px
        background: #FFFFFF
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
        position: absolute
        width: 300px
    &-inner
    &-link
        display: block
        color: #40695B
        background: $white
        font-size: 18px
        line-height: 25px
        transition: all 0.3s
        padding-left: 15px
        padding-top: 8px
        padding-bottom: 8px
        padding-right: 40px
        &:hover
            color: $white
            background: $main-color
        img
            margin-right: 16px
            width: 32px
