
.custom_button
    display: inline-block
    transition: 0.3s
    background: white
    margin: 10px
    padding: 10px 15px
    cursor: pointer
    color: black
    border: 1px solid #31AC80
.custom_button:hover
    color: white
    background: #31AC80
.custom_button.active
    color: white
    background: #31AC80
