@media (max-width: 767px) {
  .header__nav-wrap {
    justify-content: space-between !important;
    margin-bottom: 10px !important;
    display: none !important;
  }

  .header__nav-wrap2 {
    display: none !important;
  }

  .header__nav-logoMobile {
    margin-bottom: 25px !important;
    display: block !important;
  }

  .header__nav-logoMobile img {
    width: 80% !important;
  }

  .header .hamburger {
    display: block !important;
  }

  .header__menuMob {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-left: 15px !important;
    padding-right: 15px !important;
  }

  .header__menu {
    margin-top: 0 !important;
    flex-wrap: wrap-reverse !important;
  }

  .header__btns {
    justify-content: space-between !important;
  }

  .header__logo {
    display: none !important;
  }

  .header__search {
    margin-top: 25px !important;
    width: 100% !important;
  }

  .header__search input {
    width: 100% !important;
    border-radius: 0 !important;
    padding-left: 40px !important;
    padding-right: 10px !important;
    background-position-x: 10px !important;
  }

  .header__catalog {
    width: 100% !important;
    margin-top: 25px !important;
  }

  .header__catalog span {
    left: 10px !important;
  }

  .header__catalog button {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0 !important;
  }

  .header__catalog1-menu {
    width: 100% !important;
    top: 100%;
  }

  .header__catalog1-inner {
    width: 100% !important;
  }

  .header__catalog1-link {
    padding-right: 10px !important;
    font-size: 16px !important;
    padding-left: 10px !important;
  }

  .popup__inner {
    top: -130px !important;
    right: 0 !important;
  }

  .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .button {
    font-size: 18px !important;
    border-radius: 0 !important;
  }

  .catalog__item {
    width: 100% !important;
    margin-bottom: 32px !important;
  }

  .catalog__showAll {
    text-align: right !important;
  }

  .main {
    margin-bottom: 32px !important;
  }

  .main .slick-dots {
    display: none !important;
  }

  .main ul li button {
    display: none !important;
  }

  .main__item {
    padding: 0 !important;
  }

  .main__item-title {
    font-size: 36px !important;
    line-height: 36px !important;
  }

  .main__item-subtitle {
    line-height: 24px !important;
    font-size: 18px !important;
  }

  .main__item-wrap {
    width: 50% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .main__item-btn {
    margin-top: 20px !important;
  }

  .footer__inner {
    padding-top: 16px !important;
  }

  .footer__links {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-end !important;
  }

  .footer__link {
    margin-bottom: 16px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .header__logo img {
    width: 60% !important;
    text-align: center !important;
    display: block !important;
    margin: 0 auto !important;
  }

  .header__btns a img {
    width: 24px !important;
  }

  .catalog__item {
    width: 23% !important;
    margin-bottom: 2% !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header__logo {
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
  }

  .header__catalog1-menu {
    display: flex !important;
    justify-content: flex-start !important;
  }
}

@media (max-width: 1199px) {
  .header__catalog1-next,
  .header__catalog1-next2 {
    overflow-y: scroll !important;
  }

  .header__catalog1-menu {
    overflow-y: scroll !important;
  }

  .header__catalog1-inner {
    position: relative;
    overflow-y: scroll !important;
    padding-top: 50px !important;
  }

  .header__catalog1-close {
    display: block !important;
    position: absolute !important;
    font-size: 36px !important;
    font-weight: 400 !important;
    right: 15px !important;
    top: 0 !important;
  }
}

