@media (max-width: 767px)
    .header
        &__nav
            &-wrap
                justify-content: space-between !important
                margin-bottom: 10px !important
                display: none !important
            &-wrap2
                display: none !important
            &-logoMobile
                margin-bottom: 25px !important
                display: block !important
                img
                    width: 80% !important
        .hamburger
            display: block !important
        &__menuMob
            width: 100% !important
            display: flex !important
            align-items: center !important
            justify-content: space-between !important
            margin-left: 15px !important
            padding-right: 15px !important
        &__menu
            margin-top: 0 !important
            flex-wrap: wrap-reverse !important
        &__btns
            justify-content: space-between !important
        &__logo
            display: none !important
        &__search
            margin-top: 25px !important
            width: 100% !important
            input
                width: 100% !important
                border-radius: 0 !important
                padding-left: 40px !important
                padding-right: 10px !important
                background-position-x: 10px !important
        &__catalog
            width: 100% !important
            margin-top: 25px !important
            span
                left: 0 !important
                top: 50% !important
                transform: (-50%,-50%) !important
            button
                padding-left: 10px
                padding-right: 10px !important
                min-width: 50% !important
                padding-top: 3px !important
                padding-bottom: 3px !important
                font-size: 16px !important
                border-radius: 5px !important
                & + button
                    margin-left: 15px !important
            &:hover
                span
                    background: $main-color !important
                    &::before,&::after
                        background: $main-color !important

        &__catalog-btn-active
            width: auto !important
            background: transparent !important
            color: $main-color !important
            border: none !important
            padding-left: 25px !important
            text-align: left !important
        &__catalog-mobileIn
            margin-top: 20px !important
            display: flex !important
            overflow: scroll !important
        &__catalog-mobileBtn
            display: block !important
        &__catalog1-menu
            width: 100% !important
            top: 100%
        &__catalog1-inner
            width: 100% !important
        &__catalog1-link
            padding-right: 10px !important
            font-size: 16px !important
            padding-left: 10px !important

    .popup
        &__inner
            top: -230px !important
            right: 15px !important

    .container-fluid
        padding-left: 15px !important
        padding-right: 15px !important

    .button
        font-size: 18px !important
        border-radius: 0 !important

    .catalog
        &__item
            width: 100% !important
            margin-bottom: 32px !important
        &__showAll
            margin-top: 20px !important
            margin-bottom: 10px !important
        &__wrap
            display: block !important
        &__favorite
            &-item-img
                img
                    object-fit: contain !important

    .main
        margin-bottom: 32px !important
        .slick-dots
            display: none !important
        ul
            li
                button
                    display: none !important
        &__item
            padding: 0 !important
            img
                height: 50vh !important
        &__item-title
            font-size: 36px !important
            line-height: 36px !important
        &__item-subtitle
            line-height: 24px !important
            font-size: 18px !important
        &__item-wrap
            width: 50% !important
            padding-left: 10px !important
            padding-right: 10px !important
        &__item-btn
            margin-top: 20px !important

    .main
        &__blocks
            &__divide
                flex-direction: column !important
                justify-content: center !important
                align-items: center !important

    .items
        width: 100% !important

    .header__catalog1-link
        background: transparent !important

    .menu
        width: 100% !important

    .footer
        &__inner
            padding-top: 16px !important
        &__links
            flex-direction: column !important
            justify-content: flex-start !important
            align-items: flex-end !important
        &__link
            margin-bottom: 16px !important

@media (min-width: 768px) and (max-width: 991px)
    .container-fluid
        padding-left: 15px !important
        padding-right: 15px !important

    .header
        &__logo
            img
                width: 60% !important
                text-align: center !important
                display: block !important
                margin: 0 auto !important
        &__btns
            a
                img
                    width: 24px !important

    .popup__inner
        right: 15px !important

    .main__item
        img
            height: 65vh !important

    .catalog
        &__items
        &__item
            width: 23% !important
            margin-bottom: 2% !important

@media (min-width: 992px) and (max-width: 1199px)
    .header
        &__logo
            display: block !important
            text-align: center !important
            margin: 0 auto !important

    .main__item
        img
            height: 40vh !important

    .header__catalog1
        &-menu
            display: flex !important
            justify-content: flex-start !important

@media (max-width: 1199px)
    .header__catalog1
        &-next, &-next2
            overflow-y: scroll !important
        &-menu
            overflow-y: scroll !important
        &-inner
            position: relative
            overflow-y: scroll !important
            padding-top: 50px !important
        &-close
            display: block !important
            position: absolute !important
            font-size: 36px !important
            font-weight: 400 !important
            right: 15px !important
            top: 0 !important
            z-index: 10000 !important
