::-webkit-scrollbar
    width: 0px
    background: transparent

html
    -ms-overflow-style: none
    scrollbar-width: none

.overlay, .overlay2, .overlay3, .overlay4, .overlay5
    display: none
    position: fixed
    width: 100%
    top: 0
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    z-index: 2000

#reviewModal, #registration, #login, #return
    display: none

.modal
    width: 38.25rem

.modalLogin, .modalRegistration, .modalReturn
    width: 27rem

.modal, .modalLogin, .modalRegistration, .modalReturn, .modalClose
    overflow-y: scroll
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
    border-radius: 0px
    background-color: #ffffff
    padding: 30px 60px 40px 60px
    position: absolute
    max-height: 95%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &__close
        position: absolute
        top: 0px
        right: 24px
        font-size: 35px
        color: black
        cursor: pointer
    &__title
        color: $main-color
        font-weight: 600
        font-size: 1.5rem
        text-align: center
        margin-bottom: 2.5rem
    &__wrap
        margin-bottom: 2rem
    &__form
        textarea
            height: 50px
            margin-top: 0.5rem
            width: 100%
            border: 1px solid $main-color
            resize: none
            padding: 0.625rem
            outline: none
            font-size: 1rem
            font-weight: 400
            color: $black
    &__form-title
        font-weight: 400
        color: $black
        font-size: 1rem
    &__reviewDescription
        margin: 0 auto
        text-align: center
    &__reviewDescription-stars
        margin-top: 1.5rem
        img
            width: 40px
            & + img
                margin-left: 0.938rem
    &__btn
        margin-top: 2.5rem
        width: 100%
        border-radius: 0 !important
        padding: 0.75rem 0
    &__input
        width: 100%
        border: 1px solid #31AC80
        padding: 12px 12px
        outline: none !important
    &__wrap2
        & + .modal__wrap2
            margin-top: 24px
    &__btns
        margin-top: 40px
    &__wrap2-title
        margin-bottom: 8px
        font-weight: 400
        font-size: 16px
        color: $black
    &__descr
        text-align: center
        font-weight: 400
        color: #505050
        font-size: 16px
    &__wrapp
        margin: 0 auto
        text-align: center
        width: 60%

#textareaModal
    height: 100px

//-----Laravel Modalka----------

.swal2-confirm
    background-color: $main-color !important
    border-radius: 0 !important
    font-size: 22px !important
    width: 70% !important

.swal2-styled
    padding: 8px 2em !important

.swal2-title
    margin-bottom: 30px !important
    margin-top: 50px !important
    color: #505050 !important
    font-size: 16px !important
    font-weight: 400 !important

.swal2-popup
    border-radius: 0 !important
    padding-bottom: 40px !important

.swal2-backdrop-show
    background: rgba(0, 0, 0, 0.5) !important

@media (max-width: 767px)

    .modal, .modalLogin, .modalRegistration, .modalReturn, .modalClose
        padding: 30px 15px 15px 15px !important
        width: 95%
        overflow: scroll
        max-height: 90%

    .modal
        &__close
            right: 5px !important
            top: -10px !important
        &__wrapp
            width: 100% !important

@media (min-width: 768px) and (max-width: 991px)
    .modal, .modalLogin, .modalRegistration, .modalReturn, .modalClose
        padding: 40px 25px 25px 25px !important

    .modal
        &__wrapp
            width: 100% !important
