@import "vars"
@import "libs"
@import "fonts"
@import 'product'
@import 'basket'
@import 'ordering'
@import 'account'
@import 'modal'
//--------------------------------GLOBAL--------------------

html
    box-sizing: border-box

*,*::before,*::after
    box-sizing: inherit

*
    font-family: 'Open Sans', sans-serif

a
    text-decoration: none !important
    outline: none !important

h1,h2,h3,h4,h5,h6
    margin: 0

h3
    margin-bottom: 40px

ul
    padding-left: 0

.container-fluid
    padding-left: 45px
    padding-right: 45px

.button
    border: none
    font-weight: 600
    background: $main-color
    font-size: 22px
    line-height: 30px
    text-align: center
    color: $white
    border-radius: 6px

.buttons
    width: 100px
    border: 1px solid $main-color
    display: flex
    align-items: center
    justify-content: space-between
    padding: 5px 5px
    button
        border: none
        background: transparent
        color: $main-color
        outline: none !important
        .amount
            font-weight: 400
            font-size: 16px
            color: $black

.ClickAcc
    cursor: pointer

.container
    display: block
    position: relative
    padding-left: 35px
    margin-bottom: 12px
    cursor: pointer
    font-size: 22px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.hamburger
    display: none
    cursor: pointer
    width: 30px
    height: 19px
    position: relative
    z-index: 110
    -webkit-transition: all .5s ease
    -moz-transition: all .5s ease
    -ms-transition: all .5s ease
    -o-transition: all .5s ease
    transition: all .5s ease
    span
        border-radius: 0px
        display: block
        transition: 0.3s
        position: absolute
        width: 30px
        height: 3px
        background-color: $black
        &::before, &::after
            content: ''
            display: block
            transition: 0.3s
            position: absolute
            width: 30px
            height: 3px
            background-color: $black
        &::before
            content: ''
            transform: translateY(-7px)
        &::after
            content: ''
            transform: translateY(7px)
    &_active
        span
            position: fixed
            height: 0
            &::before, &::after
                width: 28px
            &::before
                -moz-transform: rotate(-45deg)
                -ms-transform: rotate(-45deg)
                -o-transform: rotate(-45deg)
                -webkit-transform: rotate(-45deg)
                transform: rotate(-45deg)
            &::after
                -moz-transform: rotate(45deg)
                -ms-transform: rotate(45deg)
                -o-transform: rotate(45deg)
                -webkit-transform: rotate(45deg)
                transform: rotate(45deg)

.favorite-block2
    display: none

.popup
    position: relative
    display: none
    &__inner
        z-index: 1000
        right: 25px
        width: 215px
        position: absolute
        padding: 24px 24px 24px 24px
        background: #FFFFFF
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.45)
    &__title
        font-weight: 400
        font-size: 14px
        line-height: 19px
        color: $main_color
        text-align: center
        margin-bottom: 16px
    &__btn1, &__btn2
        outline: none !important
        width: 100%
        border: 1px solid $main_color
        font-weight: 600
        font-size: 16px
        padding: 12px 0
        text-align: center
    &__btn1
        background: $main_color
        margin-bottom: 16px
        color: $white
    &__btn2
        background: $white
        color: $main_color
    &_active
        display: block

//------------------MAIN-PAGE-----------------
.active__header
    .active__menu
        min-height: 100vh
        width: 100%
        background: $white
        position: fixed
        z-index: 100
        display: none
    &-wrap
        padding-top: 35%
    &-link
        display: block
        font-size: 28px
        font-weight: 600
        color: $main_color
        margin-bottom: 18px
        &:hover
            color: $main_color
    &-loc
        margin-top: 40px
        font-size: 24px
    &-num
        font-size: 24px
        color: $black
.header
    padding-top: 16px
    padding-bottom: 16px
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05)
    background: $white
    &__inner
        position: relative
        transition: all 0.3s
    &__nav
    &__nav-logoMobile
        display: none
    &__nav-wrap
        display: flex
        align-items: flex-end
    &__nav-link
        font-weight: 400
        font-size: 14px
        color: $black
        line-height: 19px
        transition: all 0.3s
        & + .header__nav-link
            margin-left: 30px
        &:hover
            color: $main-color
    &__nav-wrap2
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__nav-location
        color: $main-color
        font-weight: 600
        font-size: 14px
        line-height: 19px
        &:hover
            color: $main-color
    &__nav-location
        display: flex
        align-items: flex-end
        img
            margin-left: 5px
    &__menu
        margin-top: 25px
        display: flex
        align-items: center
    &__catalog
        padding: 0
        button
            outline: none
            padding-top: 12px
            padding-bottom: 12px
            padding-left: 50px
            padding-right: 25px
            border: 1px solid #31AC80
            box-sizing: border-box
            border-radius: 25px
            text-align: center
            background: transparent
            color: $main-color
            font-weight: 700
            font-size: 18px
            line-height: 25px
            position: relative
            transition: all 0.3s
            span
                display: block
                position: absolute
                left: 25px
                top: 24px
                width: 16px
                height: 2px
                background: $main-color
                transition: all 0.3s
                &::before, &::after
                    content: ''
                    display: block
                    position: absolute
                    width: 16px
                    height: 2px
                    background-color: $main-color
                    transition: all 0.3s
                &::before
                    content: ''
                    transform: translateY(-6px)
                &::after
                    content: ''
                    transform: translateY(6px)
            &:hover
                background: $main-color
                color: $white
                span
                    background: $white
                    &::before,&::after
                        background: $white
    &__catalog-mobileIn
        display: none
    &__catalog-mobileBtn
        display: none
    &__logo
        padding: 0
    &__search
        padding: 0
        input
            width: 90%
            outline: none
            padding-top: 10px
            padding-bottom: 10px
            padding-right: 16px
            padding-left: 46px
            background: url('../img/main-page/search.png')
            background-repeat: no-repeat
            background-position: center left
            background-position-x: 16px
            border: 1px solid $main-color
            box-sizing: border-box
            border-radius: 25px
    &__btns
        display: flex
        justify-content: flex-end
        padding: 0
        a
            & + a
                margin-left: 40px

.header__catalog1
    &-next,&-next2
        overflow: hidden
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
        background-color: #FDFDFD
        display: none
        padding: 24px 32px
        width: 300px
        &-link
            text-decoration: none
            font-weight: 600
            font-size: 17px
            display: block
            color: $black
            transition: all 0.2s
            &:hover
                color: $main_color
    &-next
        &-link
            & + .header__catalog1-next-link
                margin-top: 24px
    &-next2
        &-link
            & + .header__catalog1-next2-link
                margin-top: 24px
    &-close
        display: none
    &-menu
        overflow: hidden
        display: flex
        z-index: 50
        transition: 0.2s
        top: 110px
        background: #FFFFFF
        justify-content: space-between
        position: absolute
    &-inner
        overflow: hidden
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
        transition: 0.2s
    &-second
        display: none
    &-link
        display: block
        color: #40695B
        background: $white
        font-size: 18px
        line-height: 25px
        transition: all 0.3s
        padding-left: 15px
        padding-top: 8px
        padding-bottom: 8px
        padding-right: 40px
        transition: all 0.2s
        &:hover
            color: $white
            background: $main_color
        img
            margin-right: 16px
            width: 32px

.main
    padding-top: 33px
    margin-bottom: 100px
    &__inner
    &__items
        width: 100%
        display: flex
        justify-content: space-between
    ul
        position: absolute
        bottom: -50px
        background-color: white
        display: block
        width: 100%
        list-style-type: none
        border: none
        margin: 0
        margin-block-start: 0
        margin-block-end: 0
        padding-inline-start: 0
        text-align: center
        li
            display: inline-block
            margin: 10px
            text-align: center
            button
                outline: none !important
                display: inline-block
                border: none
                width: 15px
                height: 15px
                border: 1px solid $main-color
                border-radius: 100%
                background-color: transparent
                text-indent: -9999px
        .slick-active button
            border: 1px solid $main-color
            background-color: $main_color
    &__item
        width: 49%
        padding: 10px
        position: relative
        img
            display: block
            width: 100%
            height: 79vh

    &__item-wrap
        right: 0px
        position: absolute
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7))
        height: 100%
        width: 45%
        overflow: hidden
        word-wrap: break-word !important
        top: 0
        display: flex
        justify-content: center
        flex-direction: column
        padding-left: 36px
        padding-right: 36px
    &__item-title
        font-weight: 700
        font-size: 60px
        line-height: 82px
        color: $main-color
        margin-bottom: 10px
    &__item-subtitle
        font-size: 24px
        font-weight: 600
        color: $main-color
        line-height: 33px
    &__item-btn
        margin-top: 40px
        .button
            padding-top: 10px
            padding-bottom: 10px
            width: 100%

.catalog
    &__inner
        margin-bottom: 100px
    &__wrap
        margin-top: 64px
        display: flex
        justify-content: space-between
        text-transform: uppercase
        margin-bottom: 32px
    &__title
        font-weight: 700
        font-size: 20px
        line-height: 27px
        color: $main-color !important
        a
            color: $main-color !important
            &:hover
                color: $main-color !important
    &__title2
        color: $black !important
    &__showAll
        font-weight: 400
        color: $black
        font-size: 16px
        line-height: 22px
        text-decoration-line: underline
        cursor: pointer
    &__items
        display: flex
        flex-wrap: wrap
        margin-right: -2%
    &__item
        cursor: pointer
        margin-right: 2%
        width: 18%
        padding-top: 10px
        padding-right: 16px
        padding-bottom: 16px
        background: #FFFFFF
        box-shadow: 0px 2px 12px rgba(113, 113, 113, 0.25)
    &__item-wrap
        display: flex
        justify-content: flex-end
        align-items: center
        position: relative
        margin-bottom: 20px
    &__item-favorite
    &__item-novelty, &__item-discound
        left: 0
        top: 0
        position: absolute
        padding-bottom: 7px
        padding-top: 7px
        padding-left: 8px
        padding-right: 16px
        text-align: center
        color: $white
        font-weight: 600
        font-size: 12px
        line-height: 17px
        text-transform: uppercase
    &__item-novelty
        background: #345BBE
    &__item-discound
        background: red
    &__item-img
        padding-top: 10px
        margin: 0 auto
        text-align: center
        img
            height: 30vh
            object-fit: contain
    &__item-title
        margin-top: 10px
        font-size: 14px
        line-height: 19px
        color: $black
        margin-left: 16px
    &__item-subtitle
        color: #10A600
        font-weight: 600
        font-size: 10px
        line-height: 14px
        margin-top: 8px
        margin-left: 16px
    &__item-NoProduct
        color: #868686
    &__item-wrap2
        margin-left: 16px
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__item-cost
        color: $black
        font-size: 14px
        line-height: 19px
        font-weight: 600
    &__item2
        padding-top: 0 !important
        padding-right: 0 !important
        padding-bottom: 0 !important
    &__item2-img
        img
            width: 100%
    &__item2-title
        padding-left: 6px
        padding-right: 6px
        padding-top: 20px
        padding-bottom: 20px
        text-align: center
        font-weight: 600
        color: $black
        font-size: 16px
        line-height: 19px
        text-transform: uppercase

.catalog
    &__favorite
        &-item
            position: relative
            overflow: hidden
        &-item-litres
            position: absolute
            left: 15px
            bottom: 36%
            z-index: 1000
            font-size: 14px
            font-weight: 600
            color: $black

.footer
    background: #F1F1F1
    &__inner
        padding-top: 32px
        padding-bottom: 32px
        position: relative
    &__up
        top: 16px
        left: 0
        position: absolute
        background: $main-color
        padding-left: 8px
        padding-right: 8px
        padding-top: 8px
        width: 40px
        height: 42px
    &__links
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__link
        font-weight: 400
        font-size: 14px
        line-height: 19px
        color: $main-color
        &:hover
            color: $main-color
    &__wrap
        margin-top: 40px
        margin-bottom: 32px
        display: flex
        justify-content: center
    &__social
        display: block
        & + .footer__social
            margin-left: 50px
    &__title
        font-weight: 400
        color: $main-color
        font-size: 15px
        line-height: 20px
        text-align: center

@import "media"
