.menu {
  width: 25%;
  display: inline-block;
}

.menu__blocks__item {
  margin-bottom: 20px;
}

.menu__blocks__item__header {
  padding-top: 10px;
  background-color: white;
  padding-left: 15px;
  border-bottom: 1px solid white;
  transition: 0.3s;
  padding-bottom: 10px;
  cursor: pointer;
  padding-right: 12px;
  box-sizing: border-box;
}

.menu__blocks__item__header p {
  position: relative;
  font-size: 16px;
  line-height: 22px;
}

.menu__blocks__item__header p .cover {
  position: absolute;
  top: 0;
  right: 0;
}

.menu__blocks__item__header p .right {
  transform: rotate(45deg);
}

.menu__blocks__item__header p .arrow {
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.menu__blocks__item__header:hover {
  border-bottom: 1px solid gray;
}

.menu__blocks__item__blog {
  transition: height 0.4s;
  overflow: hidden;
  -webkit-animation: height_anim 0.4s;
          animation: height_anim 0.4s;
}

.menu__blocks__item__blog__categories {
  padding: 12px;
  transition: 0.3s;
}

.menu__blocks__item__blog__categories__texts {
  font-size: 14px;
}

.menu__blocks__item__blog__categories__texts .container {
  width: 100%;
  color: #605A5A;
}

.menu__blocks__item__blog__categories__texts .checkmark {
  width: 30px;
  height: 30px;
  background-color: #31AC80;
}

.menu__blocks__item__blog__categories:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

@-webkit-keyframes height_anim {
  0% {
    height: 0%;
  }

  50% {
    height: 50%;
  }

  100% {
    height: 100%;
  }
}

@keyframes height_anim {
  0% {
    height: 0%;
  }

  50% {
    height: 50%;
  }

  100% {
    height: 100%;
  }
}

