body {
  margin: 0 auto;
}

#app {
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  color: #363434;
}

.button {
  border: none;
  font-weight: 600;
  background: #31AC80;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
}

