.product {
  padding-top: 32px;
}

.product__header-link {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #345BBE;
}

.product__header-link:hover {
  color: #345BBE;
}

.product__header-btns {
  display: flex;
  margin-top: 20px;
}

.product__header-btn {
  text-align: center;
  width: 96px;
  padding: 7px 13px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.product__header-new {
  border: 1px solid #345BBE;
  color: #345bbe;
}

.product__header-discount {
  border: 1px solid #F63C41;
  color: #F63C41;
  margin-left: 16px;
}

.product__header-title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #383838;
}

.product__header-wrap {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}

.product__header-productStocks {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #10A600;
}

.product__header-productCode {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.product__header-productCode span {
  margin-left: 5px;
}

.product__header-review {
  display: flex;
}

.product__header-reviewStar img {
  width: 20px;
}

.product__header-reviewTxt {
  margin-left: 20px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #31AC80;
}

.product__about {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.product__about-images {
  width: 60%;
  padding: 40px 30px 30px 50px;
  background: #FFFFFF;
  border: 1px solid #ECF0FA;
  box-sizing: border-box;
}

.product__about-images__inner {
  display: flex;
}

.product__about-images__choose {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product__about-images__choose img + img {
  margin-top: 30px;
}

.product__about-images__chooseClick {
  display: flex;
  width: 80%;
  justify-content: center;
}

.product__about-descr {
  width: 37%;
  background: #FFFFFF;
  border: 1px solid #ECF0FA;
  box-sizing: border-box;
  padding: 24px 32px 100px 32px;
}

.product__about-descr__title {
  font-weight: 600;
  color: #383838;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 15px;
}

.product__about-descr__wrap {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.product__about-descr__wrap p {
  color: #818181;
}

.product__about-descr__wrap div {
  color: #383838;
}

.product__about-descr__wrap + .product__about-descr__wrap {
  margin-top: 10px;
}

.product__about-descr__link {
  display: block;
  margin-top: 12px;
  text-decoration: underline !important;
  color: #31AC80;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.product__about-descr__link:hover {
  color: #31AC80;
}

.product__about-descr__cost {
  margin-top: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #F63C41;
}

.product__about-descr__cost span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #AFAFAF;
}

.product__about-descr__btns {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__about-descr__btn1 {
  outline: none !important;
  width: 78%;
  padding: 12px 0;
  border-radius: 0px !important;
}

.product__about-descr__btn2 {
  outline: none !important;
  background: transparent;
  border: 1px solid #31AC80;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__about-descr__btn3 {
  outline: none !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #31AC80;
  color: #31AC80;
  background: transparent;
  width: 100%;
  padding: 12px 0;
  margin-top: 25px;
}

.product__description {
  margin-top: 50px;
}

.product__description-items {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #31AC80;
}

.product__description-item {
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 33.3%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  transition: all 0.3s;
}

.product__description-item span {
  transition: all 0.3s;
  top: 5px;
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #949494;
  padding-top: -10px;
  margin-left: 3px;
}

.product__description-item:hover {
  background: #31AC80;
  color: #fff;
}

.product__description-item:hover span {
  color: #fff;
}

.product__description-content {
  margin-top: 44px;
}

.product__description-outline p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}

.product__description-outline p span {
  font-weight: 600;
}

.product__description-outline p + p {
  margin-top: 35px;
}

.product__description-specification {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product__description-specification-wrap {
  width: 50%;
}

.product__description-specification-box {
  display: flex;
}

.product__description-specification-box + .product__description-specification-box {
  margin-top: 24px;
}

.product__description-specification-title {
  width: 230px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
  margin-right: 10px;
}

.product__description-specification-subtitle {
  line-height: 19px;
  font-weight: 400;
  font-size: 14px;
}

.product__description-reviews-item {
  margin-bottom: 24px;
}

.product__description-reviews-item + .product__description-reviews-item {
  border-top: 1px solid #C4C4C4;
  padding-top: 32px;
}

.product__description-reviews-acc {
  display: flex;
  align-items: center;
}

.product__description-reviews-acc img {
  margin-right: 16px;
}

.product__description-reviews-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}

.product__description-reviews-star {
  margin-top: 8px;
}

.product__description-reviews-date {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #C4C4C4;
}

.product__description-reviews-txt {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #383838;
  line-height: 19px;
}

.product__description-reviews-btn {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  border-radius: 0 !important;
  margin-top: 32px;
}

.product__description-reviews-rate {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
}

.product__description-reviews-analysis {
  margin-top: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #383838;
}

.product__description-reviews-analysis .d-flex + .d-flex {
  margin-top: 25px;
}

.product__description-reviews-analysis span {
  width: 32%;
}

.product__description-reviews-analysis .w {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.product__description-reviews-leaners {
  height: 8px;
  width: 55%;
  background: -webkit-linear-gradient(left, #F8894B 50%, #C4C4C4 50%);
}

@media (max-width: 767px) {
  .product__header-wrap {
    flex-direction: column !important;
  }

  .product__header-review {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .product__about {
    flex-wrap: wrap !important;
  }

  .product__about-images {
    width: 100% !important;
    padding: 20px 20px 60px 20px !important;
  }

  .product__about-images img {
    width: 80%;
  }

  .product__about-descr {
    margin-top: 30px !important;
    width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 60px !important;
  }

  .product__about-descr__cost span {
    display: block;
    margin-top: 5px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product__about-images img {
    width: 80% !important;
  }
}

.basket__inner {
  margin-top: 32px;
}

.basket__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #383838;
  margin-bottom: 24px;
}

.basket__item {
  padding: 20px 25px 20px 20px;
  display: flex;
  border: 1px solid #ECF0FA;
}

.basket__item-inner {
  display: flex;
  align-items: center;
}

.basket__item input[type=checkbox] {
  padding: 3px;
}

.basket__item img {
  margin-left: 24px;
  width: 100%;
}

.basket__item p {
  margin-bottom: 0px;
}

.basket__item-wrap {
  width: 45%;
  margin-left: 24px;
}

.basket__item-subtitle {
  color: #8F8F8F;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.basket__item-clicks {
  display: flex;
  margin-top: 40px;
}

.basket__item-click {
  cursor: pointer;
  color: #345BBE;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.basket__item-click + .basket__item-click {
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #C4C4C4;
}

.basket__item-cost {
  font-weight: 600;
  margin-left: 4%;
  color: #345BBE;
  font-size: 14px;
  line-height: 16px;
}

.basket__item-costDiscount {
  text-decoration: line-through;
  font-weight: 400;
  color: #AFAFAF;
  font-size: 10px;
  margin-top: 8px;
}

.basket__order-title {
  margin-top: 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #505050;
}

.basket__order-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #383838;
  border-bottom: 1px solid #31AC80;
  padding-bottom: 18px;
}

.basket__order-allCost {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  color: #345BBE;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.basket__btn {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  border-radius: 0 !important;
}

.ordering {
  margin-top: 32px;
}

.ordering__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #383838;
}

.ordering__wrap {
  padding: 24px 32px;
  border: 1px solid #ECF0FA;
  box-sizing: border-box;
}

.ordering__wrap-title {
  color: #31AC80;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.ordering__wrap-box {
  width: 30%;
}

.ordering__wrap-box div span {
  color: #818181;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.ordering__form {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.ordering__input {
  margin-top: 8px;
  width: 100%;
  border: 1px solid #31AC80;
  box-sizing: border-box;
  padding: 13px;
  outline: none !important;
}

.ordering__delivery {
  margin-top: 32px;
  border: 1px solid #ECF0FA;
  padding-bottom: 24px;
}

.ordering__delivery-descr {
  background: #31AC80;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 9px 32px;
}

.ordering__delivery-inner {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.ordering__delivery-wrap {
  width: 45%;
}

.ordering__delivery-maps {
  width: 50%;
}

.ordering__delivery-title {
  color: #31AC80;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

.ordering__delivery-pb + .ordering__delivery-pb {
  margin-top: 25px;
}

.ordering__delivery-box {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: #383838;
  font-size: 16px;
}

.ordering__delivery-box div {
  width: 47%;
}

.ordering__delivery-box span {
  color: #818181;
  font-size: 14px;
  font-weight: 400;
  display: inline;
}

.ordering__payment {
  margin-top: 24px;
}

.ordering__payment-inner {
  display: flex;
  justify-content: space-between;
}

.ordering__payment-wrap,
.ordering__payment-wrap2 {
  border: 1px solid #ECF0FA;
  padding-top: 24px;
  padding-left: 32px;
  padding-bottom: 24px;
  padding-right: 32px;
}

.ordering__payment-wrap {
  width: 29%;
}

.ordering__payment-wrap2 {
  width: 67%;
}

.ordering__payment-title {
  color: #31AC80;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.ordering__payment-checkbox {
  color: #383838;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 35px;
}

.ordering__payment-checkbox input {
  margin-right: 14px;
}

.ordering__payment-wrap3 {
  margin-top: 18px;
}

.ordering__payment-link {
  font-weight: 400;
  color: #383838;
  font-size: 16px;
  line-height: 22px;
}

.ordering__payment-link + .ordering__payment-link {
  margin-top: 16px;
}

.ordering__payment-link span {
  font-weight: 700;
}

.ordering__payment-btn {
  outline: none !important;
  margin-top: 24px;
  border-radius: 0 !important;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  font-size: 18px !important;
}

.header {
  padding: 16px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.header__inner {
  position: relative;
  transition: all 0.3s;
}

.header__nav-wrap {
  display: flex;
  align-items: flex-end;
}

.header__nav-link {
  font-weight: 400;
  font-size: 14px;
  color: #383838;
  line-height: 19px;
}

.header__nav-link + .header__nav-link {
  margin-left: 30px;
}

.header__nav-link:hover {
  color: #383838;
}

.header__nav-wrap2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__nav-location {
  color: #31AC80;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.header__nav-location:hover {
  color: #31AC80;
}

.header__nav-location {
  display: flex;
  align-items: flex-end;
}

.header__nav-location img {
  margin-left: 5px;
}

.header__menu {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.header__catalog {
  padding: 0;
}

.header__catalog button {
  outline: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 25px;
  border: 1px solid #31AC80;
  box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  background: transparent;
  color: #31AC80;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  transition: all 0.3s;
}

.header__catalog button span {
  display: block;
  position: absolute;
  left: 25px;
  top: 24px;
  width: 16px;
  height: 2px;
  background: #31AC80;
  transition: all 0.3s;
}

.header__catalog button span::before,
.header__catalog button span::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #31AC80;
  transition: all 0.3s;
}

.header__catalog button span::before {
  content: "";
  transform: translateY(-6px);
}

.header__catalog button span::after {
  content: "";
  transform: translateY(6px);
}

.header__catalog button:hover {
  background: #31AC80;
  color: #fff;
}

.header__catalog button:hover span {
  background: #fff;
}

.header__catalog button:hover span::before,
.header__catalog button:hover span::after {
  background: #fff;
}

.header__logo {
  padding: 0;
}

.header__search {
  padding: 0;
}

.header__search input {
  width: 90%;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 46px;
  background: url("");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 16px;
  border: 1px solid #31AC80;
  box-sizing: border-box;
  border-radius: 25px;
}

.header__btns {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.header__btns a + a {
  margin-left: 40px;
}

.header__catalog1-menu {
  z-index: 50;
  display: none;
  transition: all 0.3s;
  top: 110px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 300px;
}

.header__catalog1-link {
  display: block;
  color: #40695B;
  background: #fff;
  font-size: 18px;
  line-height: 25px;
  transition: all 0.3s;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
}

.header__catalog1-link:hover {
  color: #fff;
  background: #31AC80;
}

.header__catalog1-link img {
  margin-right: 16px;
  width: 32px;
}

