
<template>

    <div class="main">
        <link href="/css/header.css"/>

        <link href="/css/global.css"/>
        <link href="/css/blocks.css"/>
        <link href="/css/category_style.css"/>
        <div class="main__blocks">
            <div class="main__blocks__header">
                <span>{{category_name}}</span>
            </div>
            <div class="main__blocks__divide">
                <div class="menu">
                    <div v-if="items == []" style="text-align: center">
                        Похоже товаров здесь нет
                    </div>
                    <div class="menu__blocks" v-if="items != []">
                        <div v-for="(item,i) in categories"
                             :key="i"
                             :class="'menu__blocks__item '+i">
                            <div class="menu__blocks__item__header" @click="openOptions(i)">
                                <p>{{ item.name }}
                                    <span class="cover">
                                <i class="arrow right"></i>
                            </span>
                                </p>
                            </div>

                            <div class="menu__blocks__item__blog"
                                 :style="stylesses[`styles${i}`]">
                                <div class="menu__blocks__item__blog__categories"
                                     v-for="(category,indexMain) in item.values"
                                     :key="indexMain"
                                     @click="filterBy(item.name,category,i)"
                                >
                                    <div class="menu__blocks__item__blog__categories__texts">
                                        <span>{{ category }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items account__favorite"  style="display:flex;justify-content:start;flex-wrap:wrap;">
                    <div class="catalog__favorite-item"  v-for="(item,i) in items" :key="items.id">
                        <div class="catalog__favorite-item-wrap">
                            <div class="catalog__favorite-item-favorite">
                                <img
                                    @click="addFavorite(item.id,i)"
                                    class="favorite-block product_add_favourite"
                                    :src="favourite_cart[item.id] === 1 ? '/img/product-page/red_heart.svg' :'/img/catalog/favorite-item.svg'"
                                    alt=""
                                    v-bind:id='"favourite-"+item.id'

                                    v-bind:data-product-id=item.id

                                />
                            </div>
                        </div>
                        <div class="catalog__favorite-item-img" style='height: 205px; line-height: 180px;'>
                            <a :href="'/catalog/'+item.id">
                                <img
                                v-bind:src="item.variations.length ? '/storage/'+item.variations[0].image : item.image" :id="'main_image-'+i" style='max-width: 85%; max-height: 185px;' alt="product" /> </a>
                        </div>

                        <div style="max-width:168px;" class="catalog__favorite-item-title">
                            <a :href="'/catalog/'+item.id"> {{item.name}} </a>
                        </div>

                        <div
                            class="catalog__favorite-item-subtitle catalog__favorite-item-NoProduct"
                        >
                            {{item.stock ? 'В наличии' : 'Нет в наличии'}}
                        </div>

                        <div class="catalog__favorite-item-wrap2">
                            <select  id="" v-if="item.variations.length" v-model="variation[i]" @change="changeVariations(i)"  :value="item.variations[0]" class="form-control "
                                     style="border:none;font-weight:bold;font-size:12px;padding:0px;border-bottom:1px solid #31AC80;width: 35%; margin-top:40px;border-radius: 0px;">
                                <option :value="variation" v-for="(variation,index) in item.variations"  >{{variation.name}}</option>
                            </select>
                            <div class="catalog__favorite-item-cost cost-position" v-if="item.variations.length">

                                <span :id="'variation_price-'+i">{{item.variations[0].price}}</span> тг.
                            </div>
                            <div class="catalog__favorite-item-cost" v-if="!item.variations.length">

                                <span>{{item.price}} </span> тг.
                            </div>
                            <div class="catalog__favorite-item-buy catalog__item-buy" >
                                <img src="/img/catalog/buy.svg" alt="basket" @click="addBasketComponent(item.id,i)"   class="product_add_basket_component" :id="'product_add_basket-'+i" v-bind:data-product-id="item.id" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <paginate
                    :page-count="max_pages"
                    :click-handler="paginate"
                    :prev-text="'🠔'"
                    :next-text="'🠖'"
                    :container-class="'main__blocks__buttons'"
                    :page-link-class="'main__blocks__buttons li a '">
                </paginate>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import Swal from "sweetalert2";
import Paginate from 'vuejs-paginate'
Vue.component('paginate', Paginate)
export default {
    name: 'Main',
    data(){
        return{
            categories:[],
            items:[],
            max_pages:undefined,
            curPage:1,
            paginVal:"",
            name:"",
            stylesses:{
                "styles0":{
                    height: 0,
                },
                "styles1":{
                    height: 0,
                }
            },
            variation:[],
            flag:{0:false,1:false},
        }
    },
    props: {
        msg: String,
        category_id:null,
        category_name:null,
        search: null,
        favourite_cart: null,
        brand:null
    },
    mounted(){
        console.log(this.search)

        if (this.favourite_cart !== '' && this.favourite_cart !== null && this.favourite_cart !== "null"){
            this.favourite_cart = JSON.parse(this.favourite_cart)
            console.log(this.favourite_cart)
        }else{this.favourite_cart = []}


        if (this.brand != ''){
            axios.get(`/api/products?page=${1}&categories[]=${this.category_id}&brand=${this.brand}`)
                .then((val) =>{
                    this.items = val.data['products']['data']
                    this.max_pages = val.data["products"]["last_page"]
                    this.items.forEach((element,index)=>{
                        this.variation.push(element['variations'][0])
                        // document.getElementById('product_add_basket-'+index).setAttribute('data-variation-id',element['variations'][0])

                    })

                })
        }else if(this.search != null){
            axios.get(`/api/products?page=${1}&categories[]=${this.category_id}&search=${this.search}`)
                .then((val) =>{
                    this.items = val.data['products']['data']

                    this.max_pages = val.data["products"]["last_page"]
                    this.items.forEach((element,index)=>{
                        this.variation.push(element['variations'][0])


                    })
                    setTimeout(()=>{

                        this.items.forEach((element,index)=>{
                            console.log(element['variations'][0])
                            if(element['variations'][0] !== undefined){
                                document.getElementById('product_add_basket-'+(index)).setAttribute('data-variation-id',element['variations'][0]['id'])

                            }

                        })
                    },500)

                })
        }else{
            axios.get(`/api/products?page=${1}&categories[]=${this.category_id}`)
                .then((val) =>{
                    this.items = val.data['products']['data']
                    this.max_pages = val.data["products"]["last_page"]
                    this.items.forEach((element,index)=>{
                        this.variation.push(element['variations'][0])
                        // document.getElementById('product_add_basket-'+index).setAttribute('data-variation-id',element['variations'][0])

                    })


                })
        }

        axios.get(`/api/filters?category=${this.category_id}`)
            .then((val)=>{
                this.categories = val.data["data"]
            });


    },
    methods: {
        paginate(i) {
            this.curPage = i
            axios.get(`/api/products?page=${i}&categories[]=${this.category_id}`)
                .then((val) => {
                    this.items = val.data['products']['data']
                    this.variation = []

                    this.items.forEach(element=>{
                        this.variation.push(element['variations'][0])
                    })
                    this.max_pages = val.data["products"]["last_page"]
                })
                .catch((val) => {
                    console.log(val)
                })
        },
        filterBy(name, paginVal, id) {
            console.log(name)
            axios.get(`/api/products?page=1&categories[]=${this.category_id}&additional_attributes=${name}:${paginVal}`)
                .then((val) => {
                    console.log(val.data)
                    this.items = val.data['products']['data']
                    this.variation = []
                    this.items.forEach(element=>{
                        this.variation.push(element['variations'][0])
                    })
                    this.max_pages = val.data["products"]["last_page"]
                    this.stylesses[`styles${id}`].height = "0"
                })
                .catch((val) => {
                    console.log(val)
                })
            this.name = name
            this.paginVal = paginVal
        },
        openOptions(id){
            if(this.flag[id]) this.stylesses[`styles${id}`].height = "0"
            else this.stylesses[`styles${id}`].height = "100%"
            this.flag[id] = !this.flag[id]
        },
        addFavorite(product_id){

           axios.get(`/add/favourite/${product_id}`).then((val)=>{
                    if(val.status === 200){
                        document.getElementById(`favourite-${product_id}`).setAttribute('src','/img/product-page/red_heart.svg')
                        console.log(document.getElementById(`favourite-${product_id}`))
                        Swal.fire(val.data['message'])
                    }
                }).catch((val)=>{
               document.getElementById(`favourite-${product_id}`).setAttribute('src','/img/catalog/favorite-item.svg')

                    Swal.fire('Продукт был удален из избранных')

                })



        },
        addBasketComponent(product_id,i){
            console.log(product_id)
            let variation_id = document.getElementById('product_add_basket-'+i).getAttribute('data-variation-id')
            console.log(variation_id);
            axios.get(`/add/basket/${product_id}?variation_id=${variation_id}`).then((val)=>{

                if(val.status === 200){
                    Swal.fire(val.data['message'])
                }
            }).catch((val)=>{

                Swal.fire('Товар уже был добавлен в избранное')

            })

        },
        changeVariations(i){
            console.log(`variation-price-${i}`)
            document.getElementById(`variation_price-${i}`).innerText = `${this.variation[i].price}`
            if(this.variation[i].image != null){
                document.getElementById(`main_image-${i}`).setAttribute('src',`/storage/${this.variation[i].image}`)
            }
            document.getElementById(`product_add_basket-${i}`).setAttribute(`data-variation-id`,this.variation[i].id)
        },

    }
}
</script>
<style lang="sass" scoped>
@import 'resources/sass/blocks.sass'
@import 'resources/sass/Pagination.sass'
@import 'resources/sass/item_style.sass'
@import 'resources/sass/category_style.sass'
</style>
<style>
.menu__blocks__item__blog__categories__texts{
    cursor: pointer;
}
 .catalog__favorite-item {
    margin-bottom: 2%;
    margin-right: 2%;
    width: 23%;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(113,113,113,0.25);

}
.cost-position {
position: absolute;
bottom: 58px;
}
 select:focus{
     outline: none;
 }

</style>
